    body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #d8a8ff; /* Color de fondo lila */
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        form {
            max-width: 400px;
            padding: 20px;
            background-color: #f0c0ff; /* Tono de lila para el formulario */
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        button {
            background-color: #6200ea;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border: none;
        }

        button:hover {
            background-color: #4d0099;
        }

        #verification-code {
            display: none;
        }
    
